.App {
  text-align: center;
}

.App-header {
  background-color: #D6D6D2;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 5, 5);
}

.App-menu {
  border-bottom: 1.5px solid #c5901e;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 5, 5);
}

.form {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1.5px solid #f2ae30;
  align-items: center;
  justify-content: center;
}

.form1 {
  border-bottom: thick 5px;
  font-size: 10;
  border-radius: 20px;
  flex-direction: column;
}

.wrapper {
  box-shadow: 20px 8px 20px whitesmoke;
  border: 2px #5b6770;
  -webkit-transition: box-shadow .2s ease-in;
  display: block;
  margin: 30px auto;
}

.wrapper:hover {
  box-shadow: 30px 30px 30px 30px #D6D6D2;
  -webkit-transition: box-shadow .2s ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
